body {
    display: flex;
    justify-content: center;
    background-image: url("front-view-composition-with-basketballs.jpg");
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container {
    display: flex;
    justify-content: center;
    border-radius: 20px; 
    width: 400px;
    height: 250px;
    gap: 60px;
    background: #1B244A;
    color: aliceblue;
    align-self: center;
}
.center {
    margin-bottom: 10;
    position: absolute;
                top: 75%;
                left: 50%;
                transform: translate(-50%, -50%);
}
.down {
    margin-bottom: 10;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
p {
    font-family: Cursed Timer ULiL;
    font-size: 30px;
    font-weight: 40;
    line-height: 40px;
    text-align: center;
    align-items: center;
    color: #F94F6D;
    background-color: black;
}
h3 {
    text-align: center;
}

p1 {
    border-color: blue;
    border-width: 5px;
    color: cyan;
}
.button1 {
    color: rgb(255, 0, 0); font-size: 16px; 
    line-height: 16px; 
    padding: 5px; 
    border-radius: 7px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(49, 49, 49) 50%, rgb(56, 56, 56) 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
    border: 2px solid rgb(255, 255, 255); 
    display: inline-block;
}
button {
    border-radius: 7px; 
    border: 2px solid rgb(0, 0, 0);
    color: white;
    background-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%); 
}
